@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Oswald:wght@500&display=swap');

body {
   margin: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
}

.wrapper {
   margin: 0 auto;
   max-width: 1440px;
   max-height: 2989px;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-height: 112px;
   padding-top: 31px;
   padding-bottom: 31px;
   background-color: #66D1FF;
}

.content {
   height: 766px;
   background: url(../images/promo.jpg);
}

.btn-up {
   margin-left: 81px;
   padding: 8px 41px;

   text-align: center;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;


}

.btn {
   display: inline-block;
}

.header-logo {
   display: inline-block;
}

.header-phone {
   margin-right: 81px;

   display: inline-block;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 28px;

   color: #060D10;
}

.desc {
   background: url(../images/Rectangle\ 4.png);
   height: 998px;
}

.promo {
   background: url(../images/fonpromo.png);
   height: 1003px;
}

.footer {
   height: 111px;
   background: #060D10;
}